.contact-menu {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.linkedin{
  color: azure;
  background: linear-gradient(0deg, var(--transparent), #ae6520 70%);
  border-radius: var(--radius-right); 
  text-align: left;
  width: 6.5rem;
  text-decoration: none;
}

.github{
  color: azure;
  background: linear-gradient(0deg, var(--transparent), #ae6520 70%);
  border-radius: var(--radius-right); 
  justify-content: left;
  align-items: left;
  width: 6rem;
  text-decoration: none;
}

.mail{
  color: azure;
  background: linear-gradient(0deg, var(--transparent), #ae6520 70%);
  border-radius: var(--radius-right); 
  align-items: left;
  width: 14rem;
  text-decoration: none;
}

@media (max-width: 1100px) {
  .contact-menu {
    top: 50%;
  }
}
@media (max-width: 700px) {
  .contact-menu {
    width: 70%;
  }
 
}
